.background img {
    width: 100%;
    min-height: 290px;
    object-fit: cover;
}

.background {
    position: relative;
}

.background .titre {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.background .titre a {
    margin-top: 1rem;
    width: fit-content;
    border: 1px solid var(--rouge);
    border-radius: .2rem;
    padding: 0.5rem;
    color: var(--rouge);
    display: flex;
    align-items: center;
    text-decoration: none;
    background-image: url('../img/flecheDroite.png');
    background-repeat: no-repeat;
    background-position: 94% center;
    background-size: 1.5rem;
    padding-right: 2rem;
    transition: .5s ease-in-out;
    display: none;
}

.background .titre a:hover {
    background-position: 96% center;
}

.background .titre > * {
    text-align: center;
    margin: 0;
}

.background .titre h1 {
    color: var(--jaune);
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
}

.background .titre h2 {
    color: var(--rouge);
    font-weight: 100;
    font-family: "Permanent Marker", cursive;
    font-size: 1.3rem;
}

.informations {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.informations .card {
    min-height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--grisFonce);
    color: var(--blanc);
    flex-direction: row;
    padding: 0 1.5rem;
    gap: 1.5rem;
    align-items: center;
    text-transform: uppercase;
}

.informations .card img {
    width: 3rem;
    height: 3rem;
}

/* RESPONSIVE */

@media screen and (min-width: 576px) {

    .informations .card {
        max-width: 230px;
        width: 100%;
    }

    .informations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .informations .card {
        margin: auto;
    }

    .card.date {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card.maison {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card.produits {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card.service {
        grid-area: 2 / 2 / 3 / 3;
    }

}

@media screen and (min-width: 992px) {
    
    .background img {
        min-height: 540px;
    }

    .background .titre {
        position: absolute;
        top: 0;
        height: 100%;
        justify-content: center;
        margin: 0;
        padding: 0 2rem;
    }

    .background .titre > * {
        text-align: left;
    }

    .background .titre h1 {
        font-size: 3rem;
    }

    .background .titre h2 {
        font-size: 1.6rem;
    }

    .informations .card {
        max-width: 320px;
    }

    .informations {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .background .titre a {
        display: block;
    }

}