.navbar .logo {
    width: 150px;
}

.navbar {
    padding: 0;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler-icon {
    width: 2em;
    filter: invert(99%) sepia(73%) saturate(205%) hue-rotate(213deg) brightness(116%) contrast(100%);
}

.navbar>.container-fluid {
    padding: 0;
    max-width: 80%;
}

.nav-link {
    position: relative;
    color: var(--blanc);
    padding-bottom: 0 !important;
    width: fit-content;
}

.nav-link:hover {
    color: var(--blanc);
}

.navbar-nav {
    gap: 0.5rem;
}

.navbar-nav .nav-link.active {
    color: var(--jaune);
}

.navbar-nav .nav-link.active:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--jaune);
    width: 100%;
    visibility: visible;
}

.nav-link:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--jaune);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s 
    ease-in-out 0s;
}

.nav-link:hover:before {
    visibility: visible;
    width: 25px;
}

.nav-link:last-child {
    padding-bottom: 1rem !important;
}

/* RESPONSIVE */

@media screen and (min-width: 992px) {
    
    .nav-link {
        width: initial;
    }

    .nav-link:last-child {
        padding-bottom: 0 !important;
    }

}